<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Pesquisar">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">OPÇÕES</li>
      <li class="treeview">
        <%= link_to crew_authenticated_admin_root_path do %>
          <i class="fa  fa-home"></i> <span> MIN</span>
        <% end %>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa  fa-credit-card"></i>
          <span>Usuários</span>
            <i class="fa fa-angle-left pull-right"></i>
          <ul class="treeview-menu">
            <li><%= link_to crew_users_path do %><i class="fa fa-circle-o"></i> Todos os Usuários<% end %></li>
            <li><%= link_to crew_users_pays_list_path do %><i class="fa fa-circle-o"></i> Pagos<% end %></li>
            <!-- <li><%= link_to "" do %><i class="fa fa-circle-o"></i> Certificados<% end %></li> -->
          </ul>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-calendar"></i> <span>Programações</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
          <ul class="treeview-menu">
            <li><%= link_to crew_events_path do %><i class="fa fa-circle-o"></i> Gerenciar Programações<% end %></li>
             <li><%= link_to crew_event_types_path do %><i class="fa fa-circle-o"></i> Gerenciar Tipos <% end %></li>
          </ul>
        </a>
      </li>
      <li>
       <%= link_to crew_kits_path do %>
         <i class="fa  fa-archive"></i> <span>KIT</span>
       <% end %>
     </li>
      <li>
        <a href="javascript:void(0)">
          <i class="fa fa-comments"></i> <span>Avisos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
          <ul class="treeview-menu">
            <li><%= link_to crew_comments_path do %><i class="fa fa-circle-o"></i> Gerenciar Avisos<% end %></li>
          </ul>
        </a>
      </li>

      <li>
        <a href="javascript:void(0)">
         <i class="fa fa-cog" aria-hidden="true"></i> <span>Sistema</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
          <ul class="treeview-menu">
            <li><%= link_to crew_configs_path do %><i class="fa fa-circle-o"></i> Configurações do responsável<% end %></li>
            <li><%= link_to crew_admins_path do %><i class="fa fa-circle-o"></i> Gerenciar Admins<% end %></li>
            <li><%= link_to crew_excel_handler_path do %><i class="fa fa-circle-o"></i> Gerar Relarório<% end %></li>
          </ul>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
