
<section class="content">


<section class="invoice">
      <!-- title row -->
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-globe"></i> Pedido #<%= @user.confirmation_token.first(3).upcase %><%= @user.id %>

          </h2>
        </div>
        <!-- /.col -->
      </div>
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          <address>
            <strong>Dados do comprador:</strong><br>
           <b>Nome:</b> <%=@user.name%><br>
            <b>Email:</b> <%=@user.email%>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <address>
            <strong>Dados da compra:</strong><br>
            <b>Status:</b> <%=@user.payment.nil? ? 'Não Selecionado' : @user.payment.status %>
           <br>
           <% unless @user.payment.nil? %>
           <b>Método selecionado:</b> <%=@user.payment.method %>
           <br>
           <% end %>
          </address>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Preço</th>
              <% if @user.payment.nil?%>
              <th>#</th>
              <%end%>
            </tr>
            </thead>
            <tbody>
            <%@user_cart.each do |cart|%>
            <tr>
              <td><% if !cart.is_shirt %>[<%=cart.event_type.name%>] - <%end%><%=cart.name%></td>
              <td><%=cart.description%></td>
              <td><%=number_to_currency(cart.price)%></td>
              <% if @user.payment.nil?%>
              <td><%= link_to remove_from_path(cart.id), :method => :put do %>
              <small class="label bg-red">remover</small><% end %></td>
              <% end %>
            </tr>
            <%end%>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

<%= form_for(@payment , url: payment_send_path, html: {class: 'form-horizontal '}) do |f| %>
      <div class="row">
        <!-- accepted payments column -->
        <div class="col-md-6">
          <% if @user.payment.nil?%>
          <p class="lead">Forma de Pagamento</p>
          
          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
           <%= f.select :method, @payment.accepted_payment_methods, {}, {class: 'form-control' } %>

          </p>
          <%end%>
           
          <% if Packages::ALL_PACKAGES.any? %>
           <p class="lead">Pacote</p>
          <div class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          <b class=text-danger>Atenção:</b> A escolha do pacote será feita de acordo com a programação selecionada e seu respectivo TIPO.
           <p> <b class=text-danger>Atenção:</b> em qualquer compra feita fora da cobertura do pacote, será cobrado o preço avulso dos eventos, exceto as que ultrapassarem as quantidades especificadas(sendo cobrado valor do pacote + o total dos eventos adicionais).</p>
           <div class="table-responsive">
          <table class="table table-bordered">
                <tr>
                  <th>Nome</th>
                  <th>Programações</th>
                  <th style="width: 40px">Preço</th>
                </tr>
                <%Packages::ALL_PACKAGES.each do |k, v|%>
                <tr>
                  <td><%=v[:name].upcase%></td>
                  <td><%=v[:types].map{|a| "#{a[1]} #{a[0].to_s.pluralize(a[1])}"}.join(", ")%></td>
                  <td><span class="badge bg-green"><%=number_to_currency(v[:price])%></span></td>
                </tr>
                <% end %>
              </table>
              </div>
              Minha programação (por tipo): <%=@user_cart.total_discount_by_pack[2].map{|a| "#{a[1]} #{a[0].pluralize(a[1])}" }.join(", ")%>
          </div>

          <% end %>

          <% if !@user.payment.nil? && (@user.payment.method == @user.payment.accepted_payment_methods[0] || @user.payment.method == @user.payment.accepted_payment_methods[1]) %>
          <p class="lead">Pagamento</p>
          <div class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
          <b class=text-danger>Atenção:</b> Após efetuar o pagamento, envie o comprovante para: <b><%=@config.email%></b>
           <div class="table-responsive">
              <table class="table table-bordered">
                  <tr>
                    <th>Banco</th>
                    <th>Agência</th>
                    <th>Beneficiado</th>
                  </tr>
                 
                  <tr>
                    <td><%=@config.banco%></td>
                    <td><%=@config.agencia%></td>
                    <td><%=@config.beneficiado%></td>
                  </tr>
                </table>
            </div>
          </div>
          <% end %>

             <% if !@user.payment.nil? && @user.payment.method == "PagSeguro"  %>
             <p class="lead">PagSeguro</p>
              <b class=text-danger>Atenção:</b> Após efetuar o pagamento, aguarde a confirmação! Será feita de forma automática pelo sistema.</b><br>
                <%= link_to @user.payment.pay_pagseguro, target: '_blank' do %>
                   <img data-toggle="tooltip" title="" data-original-title="PAGAMENTO  PENDENTE" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-pagar.gif" type="image" class="btn btn-alert btn-space">
                  <% end %>
              <% end %>

        </div>

        <!-- /.col -->
        <div class="col-md-6">
          <p class="lead">Valores</p>

          <div class="table-responsive">
            <table class="table">
            <% unless @user_cart.where(is_shirt: true).any? %>
              <tr>
                <th>KIT:</th>
                <td><%=link_to 'SELECIONAR KIT', kits_path %></td>
              </tr>
              <% end %>
              <tr>
                <th style="width:50%">Subtotal:</th>
                <td><%=number_to_currency(@user_cart.total_price)%></td>
              </tr>
              <% if Packages::ALL_PACKAGES.any? %>
              <tr>
                <th>Desconto (Pacotes)</th>
                <td><%=number_to_currency(@user_cart.total_price - @user_cart.total_discount_by_pack[0])%> (<%= @user_cart.total_discount_by_pack[1] || "Nenhum"%>)</td>
              </tr>
              <% end %>
              <tr>
                <th>Desconto:</th>
                <td><%='%.2f' % (@user.events.total_discount * 100)%> %</td>
              </tr>
              <tr>
                <th>Total:</th>
                <td><%=number_to_currency(@user_cart.total_discount_by_pack[0] * (1 - @user.events.total_discount))%></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


  <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-md-12">

          <% if @user.payment.nil?%>
          <button type="submit" class="btn btn-success pull-right"class="btn btn-outline pull-left" data-dismiss="modal" data-disable-with="Aguarde..."  data-confirm="Você precisará deletar seu pagamento caso desejar editar sua programação." rel="nofollow"><i class="fa fa-credit-card"></i> Pagar
          </button>

          <% elsif @user.payment.status == "Pendente" %>
             <%= link_to remove_payment_path, method: :post do%>   
              <button type="button" class="btn btn-danger pull-right" style="margin-right: 5px;">
                <i class="fa fa-download"></i> Deletar Pagamento
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
<% end %>
</section>
</section>