

<!-- Main content -->
<section class="content">
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><%= @crew_event.name %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Descrição</th>
                  <th>Facilitator</th>
                  <th>Valor</th>
                  <th>Tipo</th>
                  <th>Total de vagas/inscritos</th>
                  <th>Horário</th>
                </tr>
                <tr>
                  <td><%= @crew_event.description %></td>
                  <td><%= @crew_event.facilitator %></td>
                  <td><%= @crew_event.price %></td>
                  <td><span class="label label-success"><%= @crew_event.event_type.try(:name) %></span></td>
                  <td><%= @crew_event.limit %>/</td>
                  <td>
                           <ul class="list-group">
                              <% @crew_event.schedules.each do |schedule| %>
                              <li class="list-group-item">
                                Início: <%= schedule.start_time %></br>
                                Fim: <%= schedule.end_time %>
                                <%= link_to crew_event_schedule_path(@crew_event, schedule), method: :delete do %>
                                <small class="btn btn-danger dropdown-toggle btn-xs">
                                <i class="fa fa-pencil-square-o"></i> Excluir
                                </small>
                                <% end %>
                                <%= link_to edit_crew_event_schedule_path(@crew_event, schedule) do %>
                                <small class="btn btn-default dropdown-toggle btn-xs">
                                <i class="fa fa-pencil-square-o"></i> Editar
                                </small>
                                <% end %>
                             </li>
                             <% end %>
                          </ul>
                          <%= link_to "Novo Horário", new_crew_event_schedule_path(@crew_event), class:'btn btn-primary waves-effect w-md waves-light m-b-5' %>

                        </td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
</section>
<!-- Main content -->
<section class="content">

   <!-- <section class="box"> -->
   <div class="row">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header">
               <h3 class="box-title">Lista de usuários da programação: <%=@crew_event.name%></h3>

               <%= link_to :back, class: "btn btn-app pull-right" do %>
                <i class="fa fa-repeat"></i> Voltar
               <% end %>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table_ecej" class="table table-striped table-bordered dt-responsive nowrap display"  cellspacing="0" width="100%">
                  <thead>
                     <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Lote</th>
                        <th>EJ</th>
                        <th>Federada?</th>
                        <th class="noExport">Retirar</th>
                        <th class="noExport">Login</th>
                     </tr>
                  </thead>
                  <tbody>
                     <% @users.each do |users| %>
                     <tr>
                        <td><%= users.name.nil? ? 'Não Informado' : users.name.titleize%></td>
                        <td><%= users.cpf%></td>
                        <td>
                           <%= users.lot.nil? ? 'Não Alocado' : "Lote #{users.lot.number}"%>
                        </td>
                        <td><%= users.junior_enterprise.nil? ? 'Não Informado' : users.junior_enterprise %></td>
                        <td><%= users.federation_check %></td>
                        <td>
                          <%= link_to crew_remove_event_user_path(@crew_event, users), method: :delete, data: { confirm: "Deseja realmente remover #{users.name} do evento #{@crew_event.name}?" } do %>
                           <button type="button" class="btn btn-block btn-danger btn-sm">Remover</button>
                           </small>
                           <% end %>
                        </td>
                        <td> <%= link_to crew_login_user_path(users), target: "_blank", method: :patch do %><button type="button" class="btn btn-block btn-warning btn-sm">Login</button> <% end %>
                      </td>


                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- </section> -->
</section>
