<section class="content-header">
   <h1>
      Lotes
      <small>Todo os Lotes</small>
   </h1>
</section>
<!-- Main content -->
<section class="content">
   <!-- <section class="box"> -->
   <div class="row">
      <div class="col-xs-12">
         <div class="box">
            <div class="box-header">
               <h3 class="box-title">Gerenciamento de Lotes</h3>
            </div>



      <div class="box-header with-border">
         <%= link_to "ABRIR NOVO LOTE", new_crew_lot_path, class:"btn btn-info" %>
         <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div>
      </div>

            <!-- /.box-header -->
            <div class="box-body">
               <table id="table_ecej" class="table table-bordered table-hover responsive">
                  <thead>
                     <tr>
                        <th>Nome</th>
            			<th>Número</th>
            			<th>Limite</th>
            			<th>Início</th>
            			<th>Término</th>
            			<th>Alocados</th>
            			<th>Editar</th>
                     </tr>
                  </thead>
                  <tbody>

                     <% @lots.each do |lot| %>
                     <tr>
            			<td><%= link_to lot.name, crew_lot_path(lot) %></td>
            			<td><%= lot.number %></td>
                		<td><%= lot.limit %></td>
                		<td><%= lot.start_date.strftime('%d/%m/%Y - %H:%M ') %></td>
                		<td><%= lot.end_date.strftime('%d/%m/%Y - %H:%M ') %></td>
                		<td><%= lot.users.count %></td>
            			<td>
                           <%= link_to  edit_crew_lot_path(lot) do %>
                           <small class="btn btn-default dropdown-toggle btn-xs">
                              <i class="fa fa-pencil-square-o"></i> Editar
                           </small>
                           <% end %>

                           <%= link_to  edit_crew_lot_path(lot) do %>
                           <small data-toggle="tooltip" title="" data-original-title="(Em breve) Ao clicar: O limite será alterado para o total de pagantes, e o Término para a data atual." class="btn btn-danger dropdown-toggle btn-xs">
                              <i class="fa fa-times-circle" aria-hidden="true"></i> Fechar lote
                           </small>
                           <% end %>
                        </td>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- </section> -->
</section>