<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
      	<% @columns.each do |column| %>
        <Cell><Data ss:Type="String"><%= t("columns.#{column.to_symbol}") %></Data></Cell>
  		<% end %>
  		<Cell><Data ss:Type="String">Status do Pagamento</Data></Cell>
      <Cell><Data ss:Type="String">Com alojamento/hospedagem?</Data></Cell>
      </Row>

      <% @users.each do |user| %>
        <Row>

        <% @columns.each do |column| %>

          <Cell><Data ss:Type="String"><%= user.send(column.to_symbol) %></Data></Cell>
        <% end %>


         <Cell><Data ss:Type="String"> <% if  user.payment.nil? %>Não selecionado<% else %><%= user.payment.method %> - <% if user.payment.paid? %> Pago<% else %>Não Pago - <%=user.payment.portion_paid%>/<%=user.payment.portions%> <% end %><%end %></Data></Cell>

         <Cell><Data ss:Type="String"><% if !user.payment.nil? %> <%= user.payment.host ? 'Sim' : 'Não' %> <% end %></Data></Cell>
        </Row>
       <% end %>

    </Table>
  </Worksheet>
</Workbook>