<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">EJ</Data></Cell>
        <Cell><Data ss:Type="String">Cargo</Data></Cell>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">Federação</Data></Cell>
        <Cell><Data ss:Type="String">UF</Data></Cell>
      </Row>
      <% @users.each do |user| %>
        <Row>
          <Cell><Data ss:Type="String"><%= user.junior_enterprise %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.job %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.federation || "" %></Data></Cell>
          <Cell><Data ss:Type="String"><%= user.state %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
