
<section class="content-header">
      <div class="row">
        <div id="pack">
          <h1>NA COMPRA DE PELO MENOS 3 ITENS VOCÊ GANHA 20% DE DESCONTO NO VALOR TOTAL
            <p style="font-size: 15px">OBS: O <%= link_to 'KIT SETIC', kits_path %> conta como item</p>
          </h1>
          <div class="alert alert-success" style="padding: 20px; margin: 20px">
          Serão sorteadas 10 vagas no curso de Treinamento Gráficos oferecido pela <strong><a href="http://www.pixelsescola.com/"> Pixels</a></strong>! Para participar, basta você comprar um kit da SETIC 17.
        </br>O resultado do sorteio será divulgado dia 12/11!
          </div>
        </div>
</div>

   <h1>
      Lista de programação - <span class="recebe_dia"></span>
   </h1>
</section>
<section class="content">

   <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
         <% @days.each_with_index do |day, index| %>
         <li class="<%= active(index) %>"><a href="#tab_<%=index%>" data-toggle="tab"><%= l day[:date], format: :week_format %>
         </a></li>
         <% end %>


      </ul>

   </div>

   <div class="nav-tabs-custom filtros-nav-tabs-custom">
      <ul class="nav nav-tabs">
         <% @types.each do |e|%>
         <li class="li_tipo_<%=e.id%> active"><input type="checkbox" checked class="flat-red filtro" name="tipo_<%=e.id%>"> <%=e.name.upcase%></li>
         <% end %>


         <li class="pull-right" style="margin-top: -10px">
         <a href="">Filtre os Resultados</a>
         </li>
      </ul>

   </div>


   <div class="tab-content">
      <% @days.each_with_index do |event, index| %>
      <div class="tab-pane <%= active(index) %>" id="tab_<%= index %>">
         <% event[:hours].each  do |hour| %>
         <h3><%= "#{hour[:time]}" %></h3>
         <div class="row">
            <% hour[:events].each do |schedule| %>
            <div class="col-md-<%=grid_value(hour[:events])%> tipo_<%=schedule.event.event_type.id%>">
               <!-- Widget: user widget style 1 -->
               <div class="box box-widget widget-user">
                  <div class="widget-user-header bg-aqua-active">
                     <div class="box-tools pull-right">
                        <button type="button" class="btn btn-events-info" data-dismiss="modal" data-disable-with="Aguarde..."  data-commit="Entendi"  data-confirm="Facilitador: <%= schedule.event.facilitator %> </br></br><%= schedule.event.description %> " rel="nofollow" style="z-index: 1000;margin-top: -10px"><i class="fa fa-info"></i></button>
                     </div>
                     <h3 class="widget-user-username" style="margin-top: -10px">[<%=schedule.event.event_type.name.upcase%>] <%= schedule.event.name %></h3>
                     <h5 class="widget-user-desc"> <%= "#{schedule.start_time.strftime('%H:%M')} - #{schedule.end_time.strftime('%H:%M')}" %></h5>
                  </div>
                  <div class="widget-user-image">
                     <img class="img-circle" style="border: 3px solid #54524F;" src="<%=schedule.event.avatar_url(:medium)%>"  data-toggle="tooltip" title="" data-original-title="<%= schedule.event.facilitator %>" alt="Palestrante Avatar">
                  </div>
                  <div class="box-footer">
                     <div class="row">
                        <div class="col-sm-3 col-xs-3 border-right">
                           <div class="description-block">
                              <h5 class="description-header inscritos_event_<%= schedule.event.id %>"><%= "#{schedule.event.users.count}" %></h5>
                              <span class="description-text">Inscritos</span>
                           </div>
                           <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 col-xs-3 border-right">
                           <div class="description-block">
                              <h5 class="description-header"><%= schedule.event.limit || 0 %></h5>
                              <span class="description-text">Vagas</span>
                           </div>
                           <!-- /.description-block -->
                        </div>

                         <div class="col-sm-3 col-xs-3 border-right">
                           <div class="description-block">
                              <h5 class="description-header"><%=schedule.event.schedules.count %></h5>
                              <span class="description-text">Horários</span>
                           </div>
                           <!-- /.description-block -->
                        </div>

                        <div class="col-sm-3 col-xs-3 border-right">
                           <div class="description-block">
                              <h5 class="description-header"><%=number_to_currency(schedule.event.price)%></h5>
                              <span class="description-text">Reais</span>
                           </div>
                           <!-- /.description-block -->
                        </div>
                        <!-- /.col -- .join(' | ') -->


                        <div id="buttons_event_<%= schedule.event.id %>" class="buttons_event_<%= schedule.event.id %>"">
                        <% if schedule.event.users.include? @user %>
                        <button type="submit" class="btn btn-sm hotel-choose pull-right send_event_out" id="event_<%= schedule.event.id %>" style="background-color: #db3f3f; margin-bottom: 5px;color:#fff;margin-top: 3px; margin-right: 20px"><strong>SAIR DA PROGRAMAÇÃO</strong></button>
                        <% else %>
                           <% if schedule.event.full? %>
                              <button type="submit" class="btn btn-sm hotel-choose pull-right send_event_enter" id="event_<%= schedule.event.id %>" style="background-color: #a0a0a0; margin-bottom: 5px;color:#fff;margin-top: 3px; margin-right: 20px"><strong>LOTADO</strong></button>
                           <% else %>
                              <button type="submit" class="btn btn-sm hotel-choose pull-right send_event_enter" id="event_<%= schedule.event.id %>" style="background-color: #1AB394; margin-bottom: 5px;color:#fff;margin-top: 3px; margin-right: 20px"><strong>ENTRAR NA PROGRAMAÇÃO</strong></button>
                            <% end %>
                        <% end %>
                        </div>
                        <!-- /.col -->
                     </div>
                     <!-- /.row -->
                  </div>
               </div>
               <!-- /.widget-user -->
            </div>
            <% end %>
         </div>
         <% end %>
      </div>
      <% end %>
   </div>

</section>
<%= javascript_include_tag 'events.js' %>
