
<section class="content-header">
    <h1>
      Criar Data-Horário de programação
    <small></small>
    </h1>
</section>
<%= form_for [:crew, @event, @schedule], url: {action: "create"} do |f| %>
<% if @schedule.errors.any? %>
<script>
   $(document).ready(function() {
    noty({text: ' <%= pluralize(@schedule.errors.count, "error") %> encontrados: </br><ul><% @schedule.errors.messages.each do |message| %><li><%= message[1][0] %></li><% end %></ul>', layout: 'bottom', type: 'warning', timeout: 4000});
   });
</script>
<% end %>
 <!-- Main content -->

<section class="content">
   <div class="box box-primary">
      <div class="box-header with-border">
         <h3 class="box-title">Configurações do evento</h3>
         <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
         <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                  <label>Início da programação</label>
                  <%= f.datetime_field :start_time, placeholder: '', class: 'form-control', autofocus: true%>
               </div>
               <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-12">
               <div class="form-group">
                  <label>Término da programação</label>
                  <%= f.datetime_field :end_time, placeholder: '', class: 'form-control'%>
               </div>
               <!-- /.form-group -->
            </div>
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.box-body -->
   </div>
   <!-- /.box -->
   <div class="box box-success">
      <div class="box-header with-border">
         <button type="submit" class="btn btn-block btn-success">SALVAR</button>
         <%= link_to "VOLTAR", crew_events_path, class:"btn btn-block btn-default" %>
         <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div>
      </div>
   </div>
   <!-- /.box -->
</section>
         <% end %>
