<!-- Content Header (Page header) -->
 <section class="content-header">
   <h1>
     Adicione seu KIT
   </h1>
   </section>
<section class="content">	
	<%@kits.each do |kit|%>
	<div class="col-md-12">
           <!-- Widget: user widget style 1 -->
           <div class="box box-widget widget-user">
              <div class="widget-user-header bg-aqua-active">
                
                 <h3 class="widget-user-username" style="margin-top: -10px"><%=kit.name%></h3>
                 <h5 class="widget-user-desc"><%=kit.description%></h5>
              </div>
              
              <div class="box-footer">
                 <div class="row">
                    <div class="col-sm-6 col-xs-6 border-right">
                       <div class="description-block">
                          <h5 class="description-header inscritos_event_"><%=kit.limit - kit.users.count%></h5>
                          <span class="description-text">Kits Restante</span>
                       </div>
                       <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                  

                    <div class="col-sm-6 col-xs-6 border-right">
                       <div class="description-block">
                          <h5 class="description-header"><%=number_to_currency(kit.price)%></h5>
                          <span class="description-text">Reais</span>
                       </div>
                       <!-- /.description-block -->
                    </div>
                    <!-- /.col -- .join(' | ') -->
         
                    
                    <div id="" class="">

                    <% if !kit.users.include? @user %>
                      <%= link_to kit_select_path(kit.id), method: :post do%>
                   		 <button type="button" class="btn btn-sm hotel-choose pull-right send_event_enter" id="event" style="background-color: #1AB394; margin-bottom: 5px;color:#fff;margin-top: 3px; margin-right: 20px"><strong>ADICIONAR AO CARRINHO</strong></button>
                   		 <% end %>
                    <% else %>
                       <button type="submit" class="btn btn-sm hotel-choose pull-right send_event_out" id="event" style="background-color: #db3f3f; margin-bottom: 5px;color:#fff;margin-top: 3px; margin-right: 20px"><strong>REMOVER DO CARRINHO</strong></button>
                    <% end %>

                    </div>
                    <!-- /.col -->
                 </div>
                 <!-- /.row -->
              </div>
           </div>
           <!-- /.widget-user -->
        
    </div>
    <%end%>
</section>