<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%=@config.sigla%> 2017 </title>
        <meta name="description" content="<%=@config.name%>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/efej/icone.ico">
        <link rel="stylesheet" href="site/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="site/assets/css/plugins.css" />
        <link rel="stylesheet" href="site/assets/css/style.css">
        <link rel="stylesheet" href="site/assets/css/responsive.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target="#main-navbar">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div id="menubar" class="main-menu">
            <nav class="navbar navbar-default navbar-fixed-top ">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="site/images/logo.png" alt="" /></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#home">Home<span class="sr-only">(current)</span></a></li>
                            <li><a href="#sobre">SETIC</a></li>
                            <li><a href="#atividades">ATIVIDADES</a></li>
                            <li><a href="#programacao">PROGRAMAÇÃO</a></li>
                            <li><a href="#organizacao">ORGANIZAÇÃO</a></li>
                            <li class="inscribe"><%= link_to new_user_registration_path do %>
                             INSCREVA-SE
                            <% end %></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        <div class="gb-banner" id="home">
            <div class="banner-info text-center">
                <div class="container">
                    <h1>SEMANA DE TECNOLOGIA
                        DA INFORMAÇÃO E COMUNICAÇÃO</h1>
                    <h2><span>6-10 NOVEMBRO</span> 2017</h2>

                      <%= link_to new_user_registration_path,  class:"btn btn-heading" do %>
                       INSCREVA-SE
                      <% end %>

                </div><!-- /.container -->
            </div><!-- /.banner-info -->
        </div><!-- /.gb-banner -->
        <!--Home page style-->


        <!-- Sections -->
        <section class="section2"  id="sobre" >
            <div class="container">
               <div class="col-md-12">
                <div class="about-card">
                    <div class="title-card">
                    <h2>SOBRE A SETIC</h2>
                    </div>
                    <div class="text-card">
                    A Semana de Tecnologia da Informação e Comunicação (SETIC), sucessora da Semana de Teleinformática, é um evento anual organizado pelas entidades do Departamento de Teleinformática que ocorre paralelamente à Semana de Tecnologia, promovido pela Direção do Centro de Tecnologia. Nesta terceira edição, a SETIC visa trazer informações e oportunidades de aprendizado extra para os alunos dos cursos de Engenharia de Computação e Telecomunicações, bem como para entusiastas por tecnologia em geral.
                </div>
            </div>
            <!-- /container -->
        </section>
        <section id="atividades" class="sections" style="background-color:#282154">
          <div class="container">
            <div class="title-card">
              <h2>ATIVIDADES SETIC 17</h2>

            </div>
                <ul class="plano-lista">
                   <li>
                      <div class="box-info">
                      <i class="material-icons md-60">chat_bubble</i><span>PALESTRAS</span>
                      </div>
                      <span id="slidee">
                      <div><p>Com até duas horas de duração, a SETIC traz temas atuais e diversos na área de tecnologia. As palestras são gratuitas e emitimos certificados! :)</p>
                      </div>
                      </span>

                   </li>
                   <li>
                      <div class="box-info">
                      <i class="material-icons md-60">computer</i><span>MINICURSO</span>
                      </div>
                      <span id="slidee">
                      <div><p>A SETIC traz uma gama de oportunidades para você se aventurar em áreas que normalmente não são apresentadas em salas de aula! São cursos ministrados por 4 horas, nos quais você terá a oportunidade de adquirir conhecimento sobre os assuntos abordados!</p>
                      </div>
                      </span>

                   </li>
                   <li>
                      <div class="box-info">
                      <i class="material-icons md-60">build</i><span>WORKSHOP</span>
                      </div>
                      <span id="slidee">
                      <div><p>A SETIC traz uma gama de oportunidades para você se aventurar em áreas que normalmente não são apresentadas em salas de aula! São cursos ministrados por 6 ou 8 horas, nos quais você terá a oportunidade de adquirir experiências tanto teóricas quanto práticas sobre os assuntos abordados. </p>
                      </div>
                      </span>

                   </li>
                   <li>
                      <div class="box-info">
                      <i class="material-icons md-60">videogame_asset</i><span>VIDEO GAME</span>
                      </div>
                      <span id="slidee">
                      <div><p>A SETIC oferece um espaço de lazer e jogatina na hora do almoço, contando com jogos retrôs e just dance! O espaço será free-to-play, ou seja, só chegar e jogar!</p>
                      </div>
                      </span>

                   </li>

                </ul>
              </div>
          </div>
      </section>
      <section id="programacao" class="section7" style="background-color: #fff;">
    <div class="container">
      <div class="title-section">
        <h2>PROGRAMAÇÃO</h2>
      </div>
      <div class="gb-schedules gb-section text-center">
        <div class="container">
          <div class="schedule-content text-left">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab"><span>Segunda-feira</span> 06/11</a></li>
              <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab"><span>Terça-feira</span> 07/11</a></li>
              <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab"><span>Quarta-feira</span> 08//11</a></li>
              <li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab"><span>Quinta-feira</span> 09/11</a></li>
              <li role="presentation"><a href="#five" aria-controls="five" role="tab" data-toggle="tab"><span>Sexta-feira</span> 10/11</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="one">
                <div class="schedule">
                  <ul class="gb-list">
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Jorge Reis</h2>
                                      <span>WORKSHOP</span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>VERILOG</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Laboratório de Hardware</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Arthur Baquit e Rhaniel Magalhães</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Linguagem R <strong>part 1/3</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1 </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Teresa Mota</h2>
                                      <span><strong>PALESTRA</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Empreendedorismo e Informação</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 14:00 - 16:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Auditório do DETi</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Jorge Reis e Caio Amaral</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Printed Circuit Board(PCB) <strong>part 1/3</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 16:00 - 18:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Rodrigo Mesquita</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>VoIP (Voice over Internet Protocol) <strong>part 1/4</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 18:00 - 20:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div><!-- /.schedule -->
              </div>


              <div role="tabpanel" class="tab-pane fade" id="two">
                <div class="schedule">
                  <ul class="gb-list">
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Jorge Reis</h2>
                                      <span>WORKSHOP</span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>VERILOG</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Laboratório  de Hardware</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Arthur Baquit e Rhaniel Magalhães</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Linguagem R <strong>part 2/3</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1 </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Davyson Araujo e Camila Forte</h2>
                                      <span><strong>PALESTRA</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Desenvolvimento de Dispositivos e Sistemas</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 14:00 - 16:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Auditório do DETi</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Tarcísio Maciel</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>OCTAVE <strong>part 1/3</strong> </h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 14:00 - 16:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Jorge Reis e Caio Amaral</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Printed Circuit Board (PCB) <strong>part 2/3</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 14:00 - 16:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> L1 2</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Rodrigo Mesquita</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>VoIP (Voice over Internet Protocol) <strong>part 2/4</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 18:00 - 20:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div><!-- /.schedule -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="three">
                <div class="schedule">
                  <ul class="gb-list">


                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Carlos Adolfo</h2>
                                      <span><strong>MINICURSO</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Introdução a Ruby/Ruby on Rails <strong>part 1/2</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 8:00 - 10:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1 </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Ricardo Cavalcante</h2>
                                      <span><strong>PALESTRA</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Engenharia Social: Explorando a Falha Humana</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Auditório do DETi</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2></h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>PENTESTE <strong>part 1/3</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 16:00 - 18:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Tarcísio Maciel</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>OCTAVE <strong>part 2/3</strong> </h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 16:00 - 18:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 2</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Jorge Reis e Caio Amaral</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Printed Circuit Board(PCB) <strong>part 3/3</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 18:00 - 20:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Rodrigo Mesquita</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>VoIP (Voice over Internet Protocol) <strong>part 3/4</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 18:00 - 20:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 2 </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div><!-- /.schedule -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="four">
                <div class="schedule">
                  <ul class="gb-list">


                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Eduardo Montesuma</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>REDES NEURAIS <strong>part 1/2</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 8:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2></h2>
                                      <span><strong>MINICURSO</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>FIBRA OPTICA <strong>part 1/2</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> sala de seminários 1 </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Davyd Melo</h2>
                                      <span><strong>PALESTRA</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Introdução a Computação em Nuvem e Serverless</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 13:30 - 14:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Auditório do DETi</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Jorge Reis e Arthur Baquit</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>VERILOG</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 14:00 - 16:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Laboratório de Hardware</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Arthur Baquit e Rhaniel Magalhães <strong>part 3/3</strong></h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Linguagem R</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 14:00 - 16:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 2</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2></h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>PENTESTE <strong>part 2/3</strong> </h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 16:00 - 18:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Tarcísio Maciel</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>OCTAVE <strong>part 3/3</strong> </h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 16:00 - 18:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 2</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Rodrigo Mesquita</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>VoIP (Voice over Internet Protocol) <strong>part 4/4</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 18:00 - 20:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div><!-- /.schedule -->
              </div>
              <div role="tabpanel" class="tab-pane fade" id="five">
                <div class="schedule">
                  <ul class="gb-list">


                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Carlos Adolfo</h2>
                                      <span><strong>MINICURSO</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Introdução a Ruby/Ruby on Rails <strong>part 2/2</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 8:00 - 10:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Eduardo Montesuma</h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>REDES NEURAIS <strong>part 2/2</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2></h2>
                                      <span><strong>MINICURSO</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>FIBRA OPTICA <strong>part 2/2</strong></h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 10:00 - 12:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> sala de seminários 1 </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2>Michela Mulas </h2>
                                      <span><strong>PALESTRA</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>Software-sensors for biological wastewater treatment plants</h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 14:00 - 16:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> Auditório do DETi</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="expandable active">
                      <div class="row">
                        <div class="col-sm-3 col-md-2">
                          <div class="author">
                                  <div class="author-title">
                                      <h2></h2>
                                      <span><strong>WORKSHOP</strong></span>
                                    </div>
                                </div>
                        </div>
                        <div class="col-sm-9 col-md-10">
                          <div class="schedule-info">
                            <h2>PENTESTE <strong>part 3/3</strong> </h2>
                            <ul class="gb-list">
                              <li><i class="fa fa-clock-o" aria-hidden="true"></i><span>Horário:</span> 16:00 - 18:00 </li>
                              <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Local:</span> LI 1</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div><!-- /.schedule -->
              </div>
            </div>

          </div><!-- /.schedule-content -->
        </div><!-- /.container -->
      </div><!-- /.gb-section -->
    </div>
  </section><!--/#nino-whatWeDo-->

        <section class="section">
          <div class="container">
              <div class="title-section" style="text-align: center">
                  <h2 style="color:#fff">Para saber mais sobre a programação</h2><span><%= link_to new_user_registration_path,  class:"btn btn-heading-inverse" do %>
                 INSCREVA-SE
                <% end %></span>
              </div>
        </div>
        </section>
        <section class="section8" id= "organizacao">
            <div class="container">
                <div class="title-section">
                    <h2>ORGANIZAÇÃO</h2>
                </div>
                <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="site/images/organizacao/pet.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="site/images/organizacao/gti.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="site/images/organizacao/daam.png">
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <img src="site/images/organizacao/cdh.png">
                </div>
            </div>

            </div>
        </section>
				<!-- Map -->
				<section id="contact" class="map" style="height: 500px">
				  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31850.466333142867!2d-38.57561223251674!3d-3.7428619257204643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74bdc62c8ba8f%3A0x9267767abebdb982!2sDepartamento+de+Engenharia+de+Produ%C3%A7%C3%A3o+Mec%C3%A2nica+UFC!5e0!3m2!1spt-BR!2sbr!4v1474461603668" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
				  <br />
				    <small>
				      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31850.466333142867!2d-38.57561223251674!3d-3.7428619257204643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74bdc62c8ba8f%3A0x9267767abebdb982!2sDepartamento+de+Engenharia+de+Produ%C3%A7%C3%A3o+Mec%C3%A2nica+UFC!5e0!3m2!1spt-BR!2sbr!4v1474461603668"></a>
				    </small>
				 </section>

        <div class="scroll-top">

            <div class="scrollup">
                <i class="fa fa-angle-double-up"></i>
            </div>

        </div>

        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">

               <div class="row">
                 <div class="col-md-12 text-center">
                    <div class="socio-copyright">
                        <div class="social">
                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        </div>
                        <p>SETIC 2017. UFC | Feito com <i class="fa fa-heart"></i> por <a target="_blank" href="http://bootstrapthemes.co"> GTi Engenharia Jr</a> 2017. </p>

                    </div>
                    </div>
                </div>
            </div>

        </footer>
				<!-- Custom Theme JavaScript -->
				<script>
				var onMapMouseleaveHandler = function(event) {
				  var that = $(this);
				  that.on('click', onMapClickHandler);
				  that.off('mouseleave', onMapMouseleaveHandler);
				  that.find('iframe').css("pointer-events", "none");
				}
				var onMapClickHandler = function(event) {
				    var that = $(this);
				    // Disable the click handler until the user leaves the map area
				    that.off('click', onMapClickHandler);
				    // Enable scrolling zoom
				    that.find('iframe').css("pointer-events", "auto");
				    // Handle the mouse leave event
				    that.on('mouseleave', onMapMouseleaveHandler);
				  }
				  // Enable map zooming with mouse scroll when the user clicks the map
				$('.map').on('click', onMapClickHandler);
				</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script>
        	if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
        </script>
        <script src="site/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="site/assets/js/vendor/bootstrap.min.js"></script>
        <script src="site/assets/js/plugins.js"></script>
        <script src="site/assets/js/main.js"></script>
    </body>
</html>
