<!-- Content Header (Page header) -->
<!-- <section class="content-header">
   <h1>
     Pace page
     <small>Loading example</small>
   </h1>
   </section>-->
<!-- Main content -->
<section class="content">
   <div class="row">
      <!-- /.col -->
      <div class="col-md-12">
         <div class="box box-primary" >
             <div class="box-header">
               <h3 class="box-title">Bem vindo, <%=@user.first_name%>! Verifique seus pagamentos abaixo</h3>
            </div>
            <div class="box-body" style="text-align: left;">
               <% if @user.payment.nil? %>
                  <div class="alert alert-danger alert-dismissible">
                     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                     <h4><i class="icon fa fa-ban"></i> Você ainda não efetuou o pagamento</h4>
                     Clique aqui e efetue o pagamento para garantir sua vaga.
                  </div>
                <% else %>
                <div class="box-group" id="accordion">
                  <div class="panel alert <%=@user.payment.status!='Confirmado' ? 'alert-danger' : 'alert-success' %>">

                    <div class="box-header">
                      <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          Pedido #<%=@user.payment.id%> - Pagamento <%=@user.payment.status%>
                        </a>

                      </h4>
                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <span class="pull-right">
                          <i class="fa fa-caret-down" aria-hidden="true"></i> [VER ITENS]
                       </span>
                       </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="box-body" style="background-color: #fff; color: #000">
                       <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th>Itens</th>
                            <th>Preço unitário</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% @user_cart.each do |cart|%>
                          <tr>
                            <td>[<%=cart.event_type.name%>] - <%=cart.name%></td>
                            <td><%=number_to_currency(cart.price)%></td>
                          </tr>
                          <% end %>
                  
                          </tbody>
                        </table>
                         <table class="table">
                          <tr>
                            <th>Forma de Pagamento:</th>
                            <td>

                            <a href="#" style="color: #DD4B39;" data-toggle="modal" data-target="#modal-tempo"><%=number_to_currency(@user.payment.method)%> (Ver Dados da Conta)</a>

                            </td>
                          </tr>
                          <tr>
                            <th>Desconto:</th>
                            <td><%=number_to_currency(@user_cart.total_discount_by_pack[0])%> (<%= @user_cart.total_discount_by_pack[1] || "Nenhum"%>)</td>
                          </tr>
                          <tr>
                            <th>Total:</th>
                            <td><%=number_to_currency(@user.payment.price)%></td>
                          </tr>
                        </table>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              <% end %>

                
            </div>


         </div>

      </div>



      <div class="col-md-12">
         <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
               <li class="active"><a href="#activity" data-toggle="tab">Avisos</a></li>
               <li><a href="#timeline" data-toggle="tab">Minha Programação<% if @event_open %><small class="label pull-right bg-green" style="margin-left: 2px">new</small><% end %></a></li>
               <li><a href="#settings" data-toggle="tab">Meus Dados</a></li>
            </ul>
            <div class="tab-content">
               <div class="active tab-pane" id="activity">



           <ul class="avisos avisos-inverse">
          
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-comments bg-yellow"></i>

              <div class="avisos-item">
                <span class="time"><i class="fa fa-clock-o"></i>  15:20 18/11/2016</span>

                <h3 class="avisos-header"><a href="#">Mudança de Horário - Workshop de Esteganografia Digital</a></h3>

                <div class="avisos-body">
                  Caros participantes, Àqueles que escolheram o curso de Esteganografia Digital, por motivos de força maior, o horário teve que ser mudado. Agora, o curso será : sexta, 25, 10:00 às 12:00 horas; sexta, 25, 14:00 às 16:00 horas Esperamos que isso não cause inconveniências para ninguém.
                </div>
              </div>
            </li>

            <li>
              <i class="fa fa-comments bg-yellow"></i>

              <div class="avisos-item">
                <span class="time"><i class="fa fa-clock-o"></i>  15:20 18/11/2016</span>

                <h3 class="avisos-header"><a href="#">Visita Técnica Casa Magalhães</a></h3>

                <div class="avisos-body">
                  E aí, pessoal! Estamos abrindo inscrições para a visita técnica à Casa Magalhães, uma empresa de sucesso que tem sede aqui em Fortaleza. A visita será na terça feira, dia 22, saindo por volta das 8 da manhã. Os interessados, procurem a organização na sala do PET Teleinformática para pegar logo as suas vagas! Estaremos lá amanhã a partir das 9 da manhã, quando estaremos entregando os Kits de quem já pagou. Preços: - R$ 8,00 se você já tem o Kit SETIC - R$ 12,00 se você não tem o nosso Kit SETIC. Mais informações, como local de saída, serão enviadas por email um dia antes para os inscritos.
                </div>
              </div>
            </li>
           
          </ul>



               </div>
               <!-- /.tab-pane -->
               <div class="tab-pane" id="timeline">
                  <%#= render "user_dashboard/timeline" %>
                  <div class="box-body">
                     <div class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                        <% @days.each_with_index do |event, index| %>
                        <div class="panel box box-primary">
                           <div class="box-header with-border">
                              <h4 class="box-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=index%>">
                                 Dia <%=event[:date].strftime('%d/%m')  %>
                                 </a>
                              </h4>
                           </div>
                           <div id="collapse<%=index%>" class="panel-collapse collapse">
                              <div class="box-body">
                                 <!-- The timeline -->
                                 <ul class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    <% event[:hours].each  do |hour| %>
                                    <li class="time-label">
                                       <span class="bg-blue">
                                       <%= "#{hour[:time]}" %>
                                       </span>
                                    </li>
                                    <%a = true%>
                                    <% hour[:events].each do |schedule| %>
                                    <% if schedule.event.users.include? @user %>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                       <i class="fa fa-clock-o bg-purple"></i>
                                       <div class="timeline-item">
                                          <span class="time"><i class="fa fa-clock-o"></i> <%= "#{schedule.start_time.strftime('%H:%M')} - #{schedule.end_time.strftime('%H:%M')}" %></span>
                                          <h3 class="timeline-header"><a href="javascript:void(0)"><%= schedule.event.name %></a> Com <%= schedule.event.facilitator %></h3>
                                          <div class="timeline-body">
                                             <div>
                                                <%= schedule.event.description == "" ? "Descrição não informada." : schedule.event.description%></br></br>
                                        
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <%else%>
                                    <% if !schedule.event.concurrents(current_user).any? && a==true %>
                                    <%a = false%>
                                    <li>
                                       <i class="fa fa-clock-o bg-red"></i>
                                       <div class="timeline-item">
                                          <h3 class="timeline-header"><a href="javascript:void(0)">Nenhuma programação foi selecionada para este horário.</a></h3>
                                       </div>
                                    </li>
                                    <%end%>
                                    <%end%>
                                    <%end%>
                                    <%end%>
                                    <li>
                                       <i class="fa fa-calendar bg-gray"></i>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <%end%>
                      
                     </div>
                  </div>
               </div>
               <!-- /.tab-pane -->
               <div class="tab-pane" id="settings">
                  <div class="clearfix">
                     <%= link_to edit_user_registration_path, class: 'btn btn-app btn-primary' do %>
                     <i class="fa fa-edit"></i> Editar meus dados
                     <% end %>
                     <%= link_to password_edit_path, class: 'btn btn-app btn-primary' do %>
                     <i class="fa fa-edit"></i> Editar minha senha
                     <% end %>
                  </div>
                  <div class="row">
                     <div class="col-sm-12">
                        <b>DADOS PESSOAIS</b>
                     </div>
                     <hr  style="margin-bottom: 0px">
                     <div class="col-sm-6 ">
                        <b>Nome:</b> <%=@user.name.upcase %><br>
                        <b>Email:</b> <%=@user.email.upcase %><br>
                        <b>CPF:</b> <%=@user.cpf %><br>
                        <b>Data de nascimento:</b> <%=@user.birthday %>
                     </div>
                     <div class="col-sm-6 ">
                        <b>RG:</b> <%=@user.general_register %><br>
                  
                        <b>Criação da conta:</b> <%=@user.created_at.strftime("%d/%m/%Y - %H:%M:%S") %><br>
                        <b>Universidade:</b> <%=@user.university.upcase %><br>


                     </div>
                  </div>
                  <div class="row" style="margin-top: 15px">
                     <div class="col-sm-12">
                        <b>PAGAMENTO</b>
                     </div>
                     <hr  style="margin-bottom: 0px">
                     <div class="col-sm-6 ">
                        <b>Data de Pagamento:</b> <%#= @user.paid_on.nil? ? '' : @user.paid_on.strftime("%d/%m/%Y - %H:%M:%S") %><br>
                     
                     </div>
                  </div>
                 
               
               </div>
               <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
         </div>
         <!-- /.nav-tabs-custom -->
      </div>

      <% if true==false %>
      <div class="col-md-9 pull-right">
         <div class="box box-primary" >
             <div class="box-header">
               <h3 class="box-title">Gerar Certificado</h3>
            </div>
            <div class="box-body" style="text-align: left;">

            <%unless @user.certificate=="SIM"%>
            * Para ter acesso ao certificado é necessário responder a pesquisa de satisfação.<br>
            * Após responder, aguarde nossa confirmação, iremos lhe avisar por e-mail ;)<br>
            <br><a href="https://goo.gl/forms/7S23jnEVXW5H8gEQ2" target="_blank"><button type="button" class="btn btn-block btn-primary">Responder a Pesquisa</button></a>
            <%else%>
               <a href="/certificate.pdf" target="_blank"><button type="button" class="btn btn-block btn-success">Abrir Certificado</button></a>
            <%end%>
            </div>
         </div>
      </div>   
      <%end%>



   <!-- /.col -->
   </div>
   <!-- /.row -->
</section>
<!-- /.content -->

<% if 1==1 %>

<div class="modal patrick-modal fade in" id="modal-tempo">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
         </div>
         <div class="modal-body" style="font-size: 17px;line-height: 1.4;color: #6e7a89">

          Dados
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<%end%>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=147446729139790";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>