<!-- Main content -->
<section class="content">
<!-- Small boxes (Stat box) -->
<div class="row">
   <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
         <div class="inner">
            <h3><%=@user.count%></h3>
            <p>Cadastrados</p>
         </div>
         <div class="icon">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
         </div>
         <%= link_to crew_users_path, class: 'small-box-footer' do %>Ver Todos <i class="fa fa-arrow-circle-right"></i><%end%>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
         <div class="inner">
            <h3><%=@total_pendente.count%></h3>
            <p>Pagamentos Pendentes</p>
         </div>
         <div class="icon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
         </div>
         <%= link_to crew_users_pays_list_path, class: 'small-box-footer', "data-toggle": "tooltip", "title": "", "data-original-title": " Sendo #{number_to_currency(@tPagseguro)} do PagSeguro e #{number_to_currency(@tBoleto)} dos boletos." do %>Valor Pendente: <%=number_to_currency(@total_pendente.sum(:price))%></i>
         <%end%>
      </div>
   </div>
   <!-- ./col -->
   <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
         <div class="inner">
            <h3><%=@total.count%></h3>
            <p>Pagantes</p>
         </div>
         <div class="icon">
            <i class="fa fa-money" aria-hidden="true"></i>
         </div>
         <%= link_to crew_users_pays_list_path, class: 'small-box-footer', "data-toggle": "tooltip", "title": "", "data-original-title": " Sendo #{number_to_currency(@tPagseguro)} do PagSeguro e #{number_to_currency(@tBoleto)} dos boletos." do %>Valor recebido: <%=number_to_currency(@total.sum(:price))%></i>
         <%end%>
      </div>
   </div>
   <!-- ./col -->
  <!--  <div class="col-lg-3 col-xs-6">

      <div class="small-box bg-green">
         <div class="inner">
            <h3></h3>
            <p>Alocado(s)</p>
         </div>
         <div class="icon">
            <i class="fa fa-check" aria-hidden="true"></i>
         </div>
         <%= link_to crew_users_qualified_path, class: 'small-box-footer' do %>Ver Todos <i class="fa fa-arrow-circle-right"></i><%end%>
      </div>
   </div> -->
   <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
   <div class="col-md-12">
      <!-- USERS LIST -->
      <div class="box box-danger">
         <div class="box-header with-border">
            <h3 class="box-title">Últimos congressistas</h3>
            <div class="box-tools pull-right">
               <span class="label label-danger"></span>
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
               </button>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body no-padding">
            <ul class="users-list clearfix">
               <% @user_list.each do |user| %>
               <li style="width: 25%">
                  <%= image_tag(user.avatar_url(:medium), style:'max-height: 100px') if user.avatar? %>
                  <%= image_tag('dog.jpg', style:'max-height: 100px') if !user.avatar? %>
                  <a class="users-list-name" href="#"><%= user.name.nil? ? user.email : user.name.titleize%></a>
               </li>
               <% end %>
            </ul>
            <!-- /.users-list -->
         </div>
         <!-- /.box-body -->
         <div class="box-footer text-center">
            <%= link_to crew_users_path, class: 'uppercase' do %>Ver Todos os usuários<%end%>
         </div>
         <!-- /.box-footer -->
      </div>
      <!--/.box -->
   </div>
   <!-- /.col -->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


   <div class="col-md-12">
      <!-- USERS LIST -->
      <div class="box box-success">
         <div class="box-header with-border">
            <h3 class="box-title">Online's</h3>
            <div class="box-tools pull-right">
               <span class="label label-success"><%=@onlines.count%> online(s)</span>
               <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
               </button>
               <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
               </button>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body no-padding">
            <ul class="users-list clearfix">
               <% @onlines.each do |user| %>
               <li>
                  <%= image_tag(user.avatar_url(:medium), style:'max-height: 30px;float:left') if user.avatar? %>
                  <%= image_tag('dog.jpg', style:'max-height: 30px;float:left') if !user.avatar? %>
                  <a class="users-list-name" style="float: left;margin-left: 5px;" href="#"><%= user.name.nil? ? user.email : user.first_name.titleize%></a>
               </li>
               <% end %>
            </ul>
            <!-- /.users-list -->
         </div>

      </div>
      <!--/.box -->
   </div>
   <!-- /.col -->

</div>
