<!DOCTYPE html>
<html>
   <head>
      <title><%=@config.sigla%> 2017 - Área do Congressista</title>
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'dashboard', media: 'all','data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'dashboard' %>
      <link rel="icon" type="image/png" sizes="16x16" href="/images/efej/icone.ico">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="theme-color" content="#ffffff">
      <meta name="robots" content="index,nofollow">
      <meta name="author" content="GTi Engenharia Júnior">
      <meta name="description" content="<%=@config.name%>"">
   </head>
   <body class="sidebar-mini skin-blue">
      <% flash.each do |key, value| %>
      <script type="text/javascript">
         toastr.warning("<span><%= value %></span>", "Aviso");
      </script>
      <% end %>
      <!-- Site wrapper -->
      <div class="wrapper">
         <header class="main-header">
            <!-- Logo -->
            <a href="javascript:void(0)" class="logo">
               <!-- mini logo for sidebar mini 50x50 pixels -->
               <span class="logo-mini"><b><%=@config.sigla[0]%></b></span>
               <!-- logo for regular state and mobile devices -->
               <div align="center"><span class="logo-lg user-image">SEQ 2017</span></div>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
               <!-- Sidebar toggle button-->
               <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </a>
               <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                     <!-- Messages: style can be found in dropdown.less-->
                     <!-- Notifications: style can be found in dropdown.less -->
                     <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">1</span>
                        </a>
                        <ul class="dropdown-menu">
                           <li class="header">Você tem uma notificação</li>
                           <li>
                              <!-- inner menu: contains the actual data -->
                              <ul class="menu">
                                 <li>
                                    <a href="#">
                                    <i class="fa fa-users text-aqua"></i> Bem vindo :)
                                    </a>
                                 </li>
                              </ul>
                           </li>
                           <li class="footer"><a href="#">Ver Todas</a></li>
                        </ul>
                     </li>
                     <!-- User Account: style can be found in dropdown.less -->

                  </ul>
               </div>
            </nav>
         </header>

         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
         <%= render "layouts/shared/leftnav" %>


         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
            <%= yield %>
         </div>
         <!-- /.content-wrapper -->
         <footer class="main-footer">
            <!--
               <div class="pull-right hidden-xs">
                 <b>Version</b> 2.3.8
               </div>-->
            <strong><%=@config.sigla%> 2017. Desenvolvido com ♥ pela <a href="http://www.gti.ufc.br/" target="_blank">GTI Jr.</a></strong>
            <div class="pull-right hidden-xs" style="margin-top: -5px">
               <a target="_blank" href="https://www.facebook.com/gti.ufc/" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
            </div>
         </footer>
      </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenLite.min.js"></script>
   <%= javascript_include_tag 'dashboard_footer' %>

   </body>
</html>
