<!DOCTYPE html>
<html>
  <head>
    <title><%=@config.sigla%> 2017 - ADMIN - EvenTi Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'login' %>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/efej/icon.png">
    <link rel="manifest" href="/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="GTi Engenharia Júnior">
    <meta name="description" content="<%=@config.name%>">
  </head>

  <body>
  <body style="background: url(/images/fundo.png) top center; background-repeat: repeat;">
   <% flash.each do |key, value| %>
    <script type="text/javascript">
      toastr.warning('<span><%= value %></span>', "Aviso");
     </script>
  <% end %> 
  <%= yield %>
    </div>

  
    <%= javascript_include_tag 'login_footer' %>
  </body>
</html>
