<section class="content-header">
    <h1>
      Editar Senha <%= @aa %>
    <small></small>
    </h1>
</section>
<%= form_for(resource, as: resource_name, url: senha_path(resource_name),  html: { id: "edit_password_form", method: :put }) do |f| %>
 <!-- Main content -->
    <section class="content">


      <div class="box box-primary">
    
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nova Senha</label>
                <%= f.password_field :password, autofocus: true, placeholder: "Nova Senha" ,autocomplete: "off", id: 'new_password',class: 'form-control' %>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Confirme sua nova senha</label>
                 <%= f.password_field :password_confirmation, placeholder: "Confirme sua nova senha", autocomplete: "off", id:'new_confirm_password', class: 'form-control' %>
              </div>
              <!-- /.form-group -->

              <!-- /.form-group -->
              <div class="form-group">
                <label>Senha Atual</label>
                <%= f.password_field :current_password, id:'current_password', class: 'form-control', autocomplete: "off", placeholder: 'Senha Atual' %>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            
         
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->

    

      <div class="box box-success">
        <div class="box-header with-border">
          <button type="submit" class="btn btn-block btn-success">SALVAR</button>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>


          <span class="message__title" style="font-size: 12px">Desenvolvido com ♥ pela <a href="https://www.facebook.com/gti.ufc/" target="_blank">GTI Jr.</a></span>
      </div>
      <!-- /.box -->


    </section>
         <% end %>
